<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
</head>
<body>
<h1>操作数据库</h1>

{%if authors%}
many_to_many正方向

{{authors}}
{%for author in  authors%}
<h3>{{forloop.counter}}:{{author.name}}</h3>
                  {%for book in  author.book_set.all%}
                  <li>{{forloop.counter}}:{{book.name}}</li>
                  {%endfor%}
{%endfor%}

{%endif%}

{%if books%}
many_to_many反方向
{{books}}
{%for book in  books%}
<h3>{{forloop.counter}}:{{book.name}}</h3>
                  {%for author in  book.authors.all%}
                  <li>{{forloop.counter}}:{{author.name}}</li>
                  {%endfor%}
{%endfor%}
{%endif%}
</body>
</html>